body{
    background-color: rgb(142,228,175,0.5);
}
.flex-box{
    width:70%;
    padding:20px;
    margin:auto;
}
.ui .input {
    margin:10px;
    width:80%;
}
table{
    padding: 10px;
}
.data-table{
width:70%;
margin:auto;
font-size: 20px;
box-shadow: 1px 1px 9px 0px;
margin-top: 20px;

}
.ui form{
    width:100%;
}

.one-item{
    margin:auto;
    width:70%;
    padding: 20px;
    box-shadow: 1px 1px 9px 0px;
    font-size: 20px;
    margin-top: 20px;
}
.ui  .table{
font-size:20px !important;
text-transform: capitalize;
}
.ui .button{
    font-size:20px;
    color:black !important;
}
.ui .form{
    font-size: 20px;
}
a{
    color:black;
}
.ui .container{
    padding: 10px !important;
}